<!-- <h1>Hi Maam/Sir, you will see here the summary of your account and some educational videos related to your teaching subject that you can use or reference in your class</h1> -->
<div class="d-flex flex-wrap align-items-center justify-content-between">
  <div><h1 class="mb-0 font-weight-bold text-primary">DASHBOARD</h1></div>
  <div class="d-flex row">
    <div>
      <div class="d-flex align-items-center" style="position: relative;">
        <span class="small">SUBJECT</span>
        <div class="col-auto"><i class="fas fa-book" style="color: brown"></i></div>
        <div style="width: 100px"></div>
      </div>
      <h4 class="text-dark"><%= current_teacher.subject.upcase %></h4>
    </div>
    <div>
      <div class="d-flex align-items-center" style="position: relative;">
        <span class="small">SECTION(S)</span>
        <div class="col-auto"><i class="fas fa-chalkboard-teacher" style="color: green"></i></div>
        <div style="width: 100px"></div>
      </div>
      <h4 class="text-dark"><%= current_teacher.sections.count %></h4>
    </div>
    <div>
      <div class="d-flex align-items-center" style="position: relative;">
        <span class="small">STUDENT(S)</span>
        <div class="col-auto"><i class="fas fa-users" style="color: purple"></i></div>
        <div style="width: 20px"></div>
      </div>
      <h4 class="text-dark"><%= @student_count.sum %></h4>
    </div>
  </div>
</div><br>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            NUMBER OF SEATWORK GIVEN</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @seatworks.sum %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            NUMBER OF HOMEWORK GIVEN</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @homeworks.sum %></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-home fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            NUMBER OF PROJECTS GIVEN</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @projects.sum %></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-project-diagram fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            NUMBER OF EXAMS GIVEN</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @exams.sum %></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h5 class="mb-3 text-dark font-weight-bold">RECOMMENDED VIDEOS</h5>
<div class="overflow-auto">
  <ul class="list-unstyled video-list-thumbs d-flex">
    <% @youtube_videos.each do |video| %>
      <li class="col-lg-3 col-sm-4 col-xs-6">
        <a href="<%= video[:watch_url] %>" title="<%= video[:title] %>" target="_blank">
          <%= image_tag asset_path(video[:thumbnail]), class: "img-responsive", style: 'height: 100%; width: 100%' %>
          <h2 class="font-weight-bold mb-2"><%= truncate(video[:title], length: 60).gsub('&amp;#39;', '\'').gsub('&amp;quot;', '"').upcase %></h2>
          <p class="h6 small"><%= truncate(video[:description], length: 35) %></p>
          <span class="glyphicon glyphicon-play-circle"></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
