
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="<%= root_path %>" class="logo d-flex align-items-center">
      <%= image_tag asset_path('logo_name.png'), 'style':"height: 200%" %>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <% if current_teacher %>
          <li></li>
          <li><%= link_to 'LOGOUT', destroy_teacher_session_path, class: 'getstarted scrollto', method: 'delete' %></li>
        <% else %>
          <li><a class="nav-link scrollto active" href="<%= root_path %>">HOME</a></li>
          <li><%= link_to 'SIGN IN', teacher_session_path, class: 'getstarted scrollto' %></li>
        <% end %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up" style="color: #464646">Modern workspace designed for <span style="color: #4E73DF">teachers</span></h1>
        <h4 data-aos="fade-up" data-aos-delay="400" class="text-muted mt-2">
          <i class="fas fa-check mr-3 text-primary"></i>Keep track of student progress<br>
          <i class="fas fa-check mr-3 text-primary"></i>Generate academic reports easily<br>
          <i class="fas fa-check mr-3 mb-3 text-primary"></i>Find video content for lessons<br>
          <span class="text-primary font-weight-bold">All within one platform.</span>
        </h4>
        <div data-aos="fade-up" data-aos-delay="600">
          <% if current_teacher %>
          <p class="text-danger text-uppercase mb-0 font-weight-bold">You are logged in!</p>
          <div class="text-center text-lg-start d-flex justify-content-start">
              <a href="<%= dashboard_path %>" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center p-4">
                <span>GO TO DASHBOARD</span>
                <i class="bi bi-arrow-right"></i>
              </a>
          </div>
          <% else %>
            <div class="text-center text-lg-start d-flex justify-content-start">
              <a href="<%= new_teacher_registration_path %>" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center p-4">
                <span>CREATE AN ACCOUNT</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <%= image_tag asset_path('teaching-animate.svg') %>
      </div>
    </div>
  </div>
</section>
