<div class="row justify-content-center">
<div class="col-xl-8 col-lg-7">

  <div class="mb-4 text-gray-800 d-flex align-items-end justify-content-between">
    <h1 class="h3">New Seatwork</h1>
    <h3 class='text-primary fw-bold h1' style="font-weight: 600"><%= @section.name %></h3>
  </div>

</div>
</div>

<div class="row justify-content-center">
<div class="col-xl-8 col-lg-7">
<div class="card shadow mb-4 p-4">

<%= form_with url: create_seatwork_path do |form| %>

  <%= render 'form/activity_fields', form: form %>

<% end %>

</div>
</div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to 'GO BACK', view_section_seatworks_path(@section.id), class: "btn btn-primary px-4 font-weight-bold" %>
</div><br>

<%= javascript_pack_tag 'new_requirement', 'data-turbolinks-track': 'reload' %>
