<!-- <h1>Hi Maam/Sir, this is where you view the details of a section</h1> -->

<div class="card shadow mb-4 mesa">
  <div class="card-header py-3 table-responsive d-flex justify-content-around">
    <h5 class="m-0 text-muted mb-2">QUARTER : <span class="ml-3 px-3 text-light font-weight-bold bg-primary rounded"><%= @section.active_quarter %></h5>
    <h5 class="m-0 text-muted mb-2">SECTION : <span class="ml-3 px-3 text-light font-weight-bold bg-primary rounded"><%= @section.name.upcase %></h5>
    <h5 class="m-0 text-muted mb-2">NO. OF STUDENTS : <span class="ml-3 px-3 text-light font-weight-bold bg-primary rounded"><%= @section.students.count %></span></h5>
  </div>
  <div class="card-body">
    <div class="d-sm-flex justify-content-between mb-5">
      <div>
        <a class="btn btn-warning btn-circle text-center mr-2" href="#" data-toggle="modal" data-target="#updateSectionModal_<%= @section.id %>">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a class="btn btn-danger btn-circle text-center" href="#" data-toggle="modal" data-target="#deleteSectionModal_<%= @section.id %>">
          <i class="fas fa-trash"></i>
        </a>
      </div>
      <div>
        <%= link_to section_report_path(@section), method: 'post', class: 'btn btn-primary btn-icon-split ml-auto' do %>
          <span class="icon text-white-50">
            <i class="fas fa-paper-plane"></i>
          </span>
          <span class="text">Send Report to Email</span>
        <% end %>

        <%= link_to section_report_dowload_path(@section), class: 'btn btn-primary btn-icon-split ml-auto' do %>
          <span class="icon text-white-50">
            <i class="fas fa-download"></i>
          </span>
          <span class="text">Download Report</span>
        <% end %>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-xl-6 col-md-6 mb-4">
        <a href="<%= view_section_seatworks_path(@section.id) %>">
          <div class="card border rounded shadow h-100 py-2" style="background: #AB4967">
            <div class="card-body m-auto">
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                </div>
                <div class="col ml-4">
                  <div class="text-bg font-weight-bold text-uppercase mb-1 h2 text-light">SEATWORK</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-6 col-md-6 mb-4">
        <a href="<%= view_section_homeworks_path(@section.id) %>">
          <div class="card border rounded shadow h-100 py-2" style="background: #5B8266">
            <div class="card-body m-auto">
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-home fa-2x text-gray-300"></i>
                </div>
                <div class="col ml-3">
                  <div class="text-bg font-weight-bold text-uppercase mb-1 h2 text-light">HOMEWORK</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-xl-6 col-md-6 mb-4">
        <a href="<%= view_section_projects_path(@section.id) %>">
          <div class="card border rounded shadow h-100 py-2" style="background: #785589">
            <div class="card-body m-auto">
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-project-diagram fa-2x text-gray-300"></i>
                </div>
                <div class="col ml-4">
                  <div class="text-bg font-weight-bold text-uppercase mb-1 h2 text-light">PROJECTS</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-6 col-md-6 mb-4">
        <a href="<%= view_section_exams_path(@section.id) %>">
          <div class="card border rounded shadow h-100 py-2" style="background: #B49A67">
            <div class="card-body m-auto">
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                </div>
                <div class="col ml-3">
                  <div class="text-bg font-weight-bold text-uppercase mb-1 h2 text-light">EXAMS</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-6 col-md-6 mb-4">
        <a href="<%= view_section_attendances_path(@section.id) %>">
          <div class="card border rounded shadow h-100 py-2" style="background: #A2708A">
            <div class="card-body m-auto">
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-user-check fa-2x text-gray-300"></i>
                </div>
                <div class="col ml-3">
                  <div class="text-bg font-weight-bold text-uppercase mb-1 h2 text-light">ATTENDANCE</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<%# UPDATE SECTION MODAL %>
  <div class="modal fade" id="updateSectionModal_<%= @section.id %>" tabindex="-1" role="dialog" aria-labelledby="section_update_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Section</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-4 font-weight-bold h6 text-dark text-center">You are about to make changes to a section's details.</p>
          <%= form_with method: :put, scope: :section, url: section_update_path(id: @section.id), local: true do |f| %>
            <div class="text-center">
              <div class="form-group">
                <%= f.label :'section name', class: "text-uppercase small" %>
                <%= f.text_field :name, required: true, class: "form-control m-auto text-center", 'style': "width: 50%" %>
              </div>
              <div class="form-group">
                <%= f.label :active_quarter, class: "text-uppercase small" %>
                <%= f.number_field :active_quarter, required: true, class: "form-control m-auto text-center", 'style': "width: 50%", 'min': '1', 'max': '4' %>
              </div>
            </div>
            <div class="text-center">
            <%= f.submit "UPDATE", class:'btn btn-warning text-center', 'style': "width: 50%" %></br>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<%# DELETE SECTION MODAL %>
  <div class="modal fade" id="deleteSectionModal_<%= @section.id %>" tabindex="-1" role="dialog" aria-labelledby="section_delete_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Section</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p class="mb-2 font-weight-bold h3 text-dark"><%= @section.name.upcase %></p>
          <p class="text-danger h6">Are you sure you want to delete this record?<br>This process cannot be undone.</p><br>
          <%= link_to 'DELETE', section_delete_path(id: @section.id), class: 'btn btn-danger px-5', method: :delete %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
