<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Liberation Serif";}
@font-face
	{font-family:"Liberation Sans";}
@font-face
	{font-family:"DejaVu Sans Condensed";}
@font-face
	{font-family:"Noto Serif CJK SC";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Lohit Devanagari";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Noto Sans CJK SC";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:12.0pt;
	font-family:"Liberation Serif",serif;}
p.TableContents, li.TableContents, div.TableContents
	{mso-style-name:"Table Contents";
	margin:0in;
	font-size:12.0pt;
	font-family:"Liberation Serif",serif;}
.MsoChpDefault
	{font-size:10.0pt;
	font-family:"Liberation Serif",serif;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:56.7pt 56.7pt 56.7pt 56.7pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

<div class=WordSection1>

<p class=MsoNormal><b><span lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>STUDENT:
</span></b><span lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
  <%= @data[:student].last_name %>, <%= @data[:student].first_name %>
<b>TEACHER: </b><%= @data[:teacher].last_name %>, <%= @data[:teacher].first_name %></span></p>

<p class=MsoNormal><b><span lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>SECTION:
</span></b><span lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= @data[:section].name %></span></p>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
  <%= @data[:teacher].subject %> - Quarter# <%= @data[:section].active_quarter %>
</span></p>

<p class=MsoNormal><a name="__DdeLink__5_3702980836"></a><span lang=EN-PH>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=643
 style='width:482.25pt;margin-left:2.75pt;border-collapse:collapse'>
 <tr>
  <td width=643 colspan=4 valign=top style='width:482.2pt;border:solid black 1.0pt;
  background:#2A6099;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><a
  name="__DdeLink__386_745519062"><b><span lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>HOMEWORKS - <%= @data[:grading_system].homework %>%</span></b></a></p>
  </td>
 </tr>
 <tr style='height:31.45pt'>
  <td width=102 style='width:76.3pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>DATE</span></b></p>
  </td>
  <td width=374 style='width:280.75pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TITLE</span></b></p>
  </td>
  <td width=87 style='width:65.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>SCORE</span></b></p>
  </td>
  <td width=80 style='width:59.8pt;border:solid black 1.0pt;border-top:none;
  background:#729FCF;padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TOTAL</span></b></p>
  </td>
 </tr>

  <% @data[:homeworks].each do |homework| %>

    <tr>
      <td width=102 valign=top style='width:76.3pt;border-top:none;border-left:
      solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
      padding:2.75pt 2.75pt 2.75pt 2.75pt'>
      <p class=TableContents align=center style='text-align:center'><span
      lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= homework[:date] %>
      </span></p>
      </td>
      <td width=374 valign=top style='width:280.75pt;border-top:none;border-left:
      solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
      padding:2.75pt 2.75pt 2.75pt 2.75pt'>
      <p class=TableContents align=center style='text-align:center'><span
      lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= homework[:title] %>
      </span></p>
      </td>
      <td width=87 valign=top style='width:65.35pt;border-top:none;border-left:
      solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
      padding:2.75pt 2.75pt 2.75pt 2.75pt'>
      <p class=TableContents align=center style='text-align:center'><span
      lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= homework[:score] %>
      </span></p>
      </td>
      <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
      border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
      <p class=TableContents align=center style='text-align:center'><span
      lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= homework[:max_score] %>
      </span></p>
      </td>
    </tr>

  <% end %>
  



 <tr>
  <td width=563 colspan=3 valign=top style='width:422.4pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>GRADE</span></b></p>
  </td>
  <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
  border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
    <%= @data[:grades][:homeworks] %>
  </span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><a name="__DdeLink__5_37029808361"></a><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><a name="__DdeLink__7_3702980836"></a><span lang=EN-PH>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=643
 style='width:482.25pt;margin-left:2.75pt;border-collapse:collapse'>
 <tr>
  <td width=643 colspan=4 valign=top style='width:482.2pt;border:solid black 1.0pt;
  background:#2A6099;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif;color:white'>SEATWORKS
  - <%= @data[:grading_system].seatwork %>%</span></b></p>
  </td>
 </tr>
 <tr style='height:31.45pt'>
  <td width=102 style='width:76.3pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>DATE</span></b></p>
  </td>
  <td width=374 style='width:280.75pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TITLE</span></b></p>
  </td>
  <td width=87 style='width:65.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>SCORE</span></b></p>
  </td>
  <td width=80 style='width:59.8pt;border:solid black 1.0pt;border-top:none;
  background:#729FCF;padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TOTAL</span></b></p>
  </td>
 </tr>


 <% @data[:seatworks].each do |seatwork| %>

  <tr>
    <td width=102 valign=top style='width:76.3pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= seatwork[:date] %>
    </span></p>
    </td>
    <td width=374 valign=top style='width:280.75pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= seatwork[:title] %>
    </span></p>
    </td>
    <td width=87 valign=top style='width:65.35pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= seatwork[:score] %>
    </span></p>
    </td>
    <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
    border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= seatwork[:max_score] %>
    </span></p>
    </td>
  </tr>

<% end %>


 <tr>
  <td width=563 colspan=3 valign=top style='width:422.4pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>GRADE</span></b></p>
  </td>
  <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
  border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
    <%= @data[:grades][:seatworks] %>
  </span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><a name="__DdeLink__7_37029808361"></a><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><a name="__DdeLink__9_3702980836"></a><span lang=EN-PH>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=643
 style='width:482.25pt;margin-left:2.75pt;border-collapse:collapse'>
 <tr>
  <td width=643 colspan=4 valign=top style='width:482.2pt;border:solid black 1.0pt;
  background:#2A6099;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif;color:white'>PROJECTS
  - <%= @data[:grading_system].project %>%</span></b></p>
  </td>
 </tr>
 <tr style='height:31.45pt'>
  <td width=102 style='width:76.3pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>DATE</span></b></p>
  </td>
  <td width=374 style='width:280.75pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TITLE</span></b></p>
  </td>
  <td width=87 style='width:65.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>SCORE</span></b></p>
  </td>
  <td width=80 style='width:59.8pt;border:solid black 1.0pt;border-top:none;
  background:#729FCF;padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TOTAL</span></b></p>
  </td>
 </tr>

 <% @data[:projects].each do |project| %>

  <tr>
    <td width=102 valign=top style='width:76.3pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= project[:date] %>
    </span></p>
    </td>
    <td width=374 valign=top style='width:280.75pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= project[:title] %>
    </span></p>
    </td>
    <td width=87 valign=top style='width:65.35pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= project[:score] %>
    </span></p>
    </td>
    <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
    border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= project[:max_score] %>
    </span></p>
    </td>
  </tr>

<% end %>


 <tr>
  <td width=563 colspan=3 valign=top style='width:422.4pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>GRADE</span></b></p>
  </td>
  <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
  border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
    <%= @data[:grades][:projects] %>
  </span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><a name="__DdeLink__9_37029808361"></a><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=643
 style='width:482.25pt;margin-left:2.75pt;border-collapse:collapse'>
 <tr>
  <td width=643 colspan=4 valign=top style='width:482.2pt;border:solid black 1.0pt;
  background:#2A6099;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif;color:white'>EXAMS
  - <%= @data[:grading_system].exam %>%</span></b></p>
  </td>
 </tr>
 <tr style='height:31.45pt'>
  <td width=102 style='width:76.3pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>DATE</span></b></p>
  </td>
  <td width=374 style='width:280.75pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TITLE</span></b></p>
  </td>
  <td width=87 style='width:65.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;background:#729FCF;
  padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>SCORE</span></b></p>
  </td>
  <td width=80 style='width:59.8pt;border:solid black 1.0pt;border-top:none;
  background:#729FCF;padding:2.75pt 2.75pt 2.75pt 2.75pt;height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>TOTAL</span></b></p>
  </td>
 </tr>

 <% @data[:exams].each do |exam| %>
 
  <tr>
    <td width=102 valign=top style='width:76.3pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= exam[:date] %>
    </span></p>
    </td>
    <td width=374 valign=top style='width:280.75pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= exam[:title] %>
    </span></p>
    </td>
    <td width=87 valign=top style='width:65.35pt;border-top:none;border-left:
    solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
    padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= exam[:score] %>
    </span></p>
    </td>
    <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
    border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= exam[:max_score] %>
    </span></p>
    </td>
  </tr>

 <% end %>

 <tr>
  <td width=563 colspan=3 valign=top style='width:422.4pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>GRADE</span></b></p>
  </td>
  <td width=80 valign=top style='width:59.8pt;border:solid black 1.0pt;
  border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
    <%= @data[:grades][:exams] %>
  </span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=643
 style='width:482.25pt;margin-left:2.75pt;border-collapse:collapse'>
 <tr>
  <td width=643 colspan=2 valign=top style='width:482.25pt;border:solid black 1.0pt;
  background:#2A6099;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif;color:white'>ATTENDANCES
  – <%= @data[:grading_system].exam %>% (Num of School days: <%= @data[:school_days] %>)</span></b></p>
  </td>
 </tr>
 <tr style='height:31.45pt'>
  <td width=643 colspan=2 style='width:482.25pt;border:solid black 1.0pt;
  border-top:none;background:#729FCF;padding:2.75pt 2.75pt 2.75pt 2.75pt;
  height:31.45pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-size:10.0pt;font-family:"DejaVu Sans Condensed",sans-serif;
  color:white'>DATE OF ABSENCES</span></b></p>
  </td>
 </tr>


 <% @data[:absents].each do |absent| %>

  <tr>
    <td width=643 colspan=2 valign=top style='width:482.25pt;border:solid black 1.0pt;
    border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
    <p class=TableContents align=center style='text-align:center'><span
    lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'><%= absent[:date] %>
    </span></p>
    </td>
  </tr>

 <% end %>


 <tr>
  <td width=563 valign=top style='width:422.4pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>GRADE</span></b></p>
  </td>
  <td width=80 valign=top style='width:59.85pt;border:solid black 1.0pt;
  border-top:none;padding:2.75pt 2.75pt 2.75pt 2.75pt'>
  <p class=TableContents align=center style='text-align:center'><b><span
  lang=EN-PH style='font-family:"DejaVu Sans Condensed",sans-serif'>
    <%= @data[:grades][:attendance] %>
  </span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'><span lang=EN-PH
style='font-family:"DejaVu Sans Condensed",sans-serif'>FINAL GRADE:</span></p>

<p class=MsoNormal align=right style='text-align:right'><span lang=EN-PH
style='font-family:"DejaVu Sans Condensed",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'><b><span lang=EN-PH
style='font-size:15.0pt;font-family:"DejaVu Sans Condensed",sans-serif'>
  <%= @data[:final_grade] %>
</span></b></p>

<p class=MsoNormal align=right style='text-align:right'><span lang=EN-PH
style='font-size:15.0pt;font-family:"DejaVu Sans Condensed",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-PH>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'><span lang=EN-PH
style='font-family:"DejaVu Sans Condensed",sans-serif'>Generated by: </span></p>

<p class=MsoNormal align=right style='text-align:right'><span lang=EN-PH> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="75.000000pt" height="50.000000pt"
          viewBox="0 0 1176.000000 720.000000" preserveAspectRatio="xMidYMid meet">
          <metadata>
            Created by potrace 1.16, written by Peter Selinger 2001-2019
          </metadata>
          <g transform="translate(0.000000,720.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path d="M5025 4886 c-27 -7 -75 -20 -105 -29 -126 -34 -287 -142 -425 -283
-70 -72 -82 -87 -154 -192 -111 -163 -199 -372 -242 -571 -27 -126 -38 -505
-19 -643 32 -234 98 -381 228 -505 85 -82 161 -113 289 -120 79 -5 102 -2 160
18 78 26 175 91 218 145 17 20 39 48 51 62 l21 25 -8 -79 c-5 -43 -16 -121
-25 -171 l-16 -93 -73 0 c-139 0 -401 -45 -490 -85 -32 -14 -62 -25 -67 -25
-22 0 -148 -84 -205 -137 -117 -109 -168 -215 -167 -348 0 -99 27 -167 88
-223 101 -93 214 -123 379 -101 96 12 229 59 299 105 21 13 40 24 44 24 12 0
170 144 212 194 24 28 64 83 90 121 48 73 152 269 152 289 0 6 7 19 14 28 12
17 18 17 97 2 46 -9 129 -31 184 -49 139 -45 159 -49 174 -31 22 26 9 68 -28
93 -19 13 -46 26 -60 29 -14 3 -71 18 -126 34 -55 16 -121 32 -147 35 -27 3
-48 7 -48 9 0 2 9 29 20 62 26 75 84 303 104 413 20 104 20 267 1 349 -26 108
-70 160 -158 184 -38 10 -49 9 -83 -8 -49 -24 -68 -62 -99 -197 -39 -172 -123
-346 -201 -418 -72 -66 -173 -100 -229 -79 -71 26 -103 60 -149 154 -109 224
-138 508 -86 842 62 392 175 665 360 874 53 59 145 130 185 143 11 3 40 13 65
22 69 25 163 23 244 -5 56 -20 75 -33 102 -68 40 -53 51 -100 34 -155 -12 -39
-19 -51 -73 -120 -31 -41 -120 -96 -191 -119 -34 -11 -101 -23 -151 -26 l-90
-7 3 -30 c4 -38 64 -162 94 -195 13 -14 43 -38 67 -55 58 -39 129 -39 235 -1
224 82 359 395 282 651 -35 115 -127 204 -251 244 -88 29 -255 37 -330 17z
m-60 -2568 c-38 -136 -55 -179 -108 -285 -116 -233 -312 -350 -534 -320 -54 8
-69 15 -111 52 -111 99 -93 234 49 374 131 131 330 199 582 200 l128 1 -6 -22z" />
            <path d="M2425 4730 c-11 -4 -72 -13 -135 -19 -63 -7 -119 -16 -125 -21 -5 -4
-31 -11 -57 -15 -27 -4 -48 -10 -48 -14 0 -4 -20 -12 -45 -19 -24 -6 -66 -25
-93 -42 -27 -16 -52 -30 -57 -30 -20 0 -144 -128 -157 -162 -5 -16 -14 -28
-19 -28 -5 0 -9 -6 -9 -12 0 -7 -6 -25 -14 -40 -19 -36 -36 -150 -36 -240 0
-88 21 -278 31 -278 3 0 10 -24 13 -52 4 -29 11 -57 15 -63 4 -5 13 -37 20
-70 7 -33 17 -64 21 -70 5 -5 11 -27 15 -47 4 -21 11 -38 15 -38 4 0 13 -26
20 -57 7 -32 16 -62 20 -68 4 -5 11 -26 15 -45 4 -19 11 -39 15 -45 9 -11 34
-128 51 -235 20 -123 -3 -280 -44 -298 -4 -2 -13 -9 -20 -16 -6 -7 -20 -15
-29 -19 -35 -13 -20 -36 30 -43 26 -3 54 -10 63 -15 8 -4 89 -16 180 -26 262
-28 635 -20 799 18 25 6 69 15 98 21 28 5 52 13 52 17 0 4 25 13 55 20 30 7
55 16 55 21 0 4 12 11 26 14 14 4 31 11 37 16 7 5 37 29 67 53 30 24 62 56 70
73 8 16 18 32 23 35 4 3 12 33 18 67 11 63 -2 214 -21 237 -4 6 -11 30 -15 55
-4 25 -10 50 -14 55 -5 9 -18 56 -54 195 -6 25 -14 47 -17 50 -4 3 -12 34 -19
70 -7 36 -16 70 -21 75 -4 6 -11 33 -15 60 -4 28 -10 55 -15 60 -4 6 -13 53
-20 105 -6 52 -16 111 -22 130 -22 78 12 370 43 370 5 0 9 6 9 13 0 13 8 25
51 74 39 44 114 89 164 99 19 3 35 10 35 14 0 5 34 11 75 15 53 5 75 11 75 21
0 20 -36 26 -305 49 -93 9 -200 20 -238 25 -81 12 -583 12 -612 0z m339 -386
c12 -5 16 -21 16 -73 0 -96 20 -305 29 -311 5 -3 12 -19 15 -37 7 -29 5 -32
-26 -38 -18 -4 -37 -11 -43 -15 -5 -5 -31 -11 -57 -15 -27 -4 -48 -11 -48 -15
0 -4 -39 -13 -87 -20 -49 -7 -92 -16 -98 -21 -5 -4 -37 -10 -70 -14 -33 -4
-64 -11 -70 -15 -9 -7 -170 -30 -208 -30 -9 0 -17 6 -17 13 0 6 -6 24 -14 39
-8 15 -17 42 -21 60 -4 18 -12 39 -18 46 -14 18 -16 220 -1 230 5 4 20 24 33
45 12 20 29 37 36 37 8 0 18 6 22 13 11 17 93 54 137 62 20 4 36 11 36 15 0 4
46 13 103 19 56 6 131 15 167 20 83 11 164 13 184 5z m122 -809 c8 -45 -8 -60
-71 -69 -28 -5 -54 -11 -60 -16 -5 -4 -46 -13 -89 -20 -44 -6 -87 -16 -95 -20
-17 -9 -170 -45 -236 -56 -22 -4 -45 -10 -51 -15 -6 -5 -33 -10 -59 -11 -48
-3 -49 -2 -59 32 -5 19 -14 38 -20 42 -16 11 -8 13 89 32 50 9 117 22 150 28
33 7 62 15 65 19 3 3 43 12 90 19 47 7 90 16 95 20 6 5 36 11 68 15 31 4 57
11 57 16 0 7 34 14 92 17 23 2 28 -3 34 -33z m7 -230 c-10 -8 -40 -17 -68 -20
-27 -4 -54 -11 -60 -15 -5 -4 -44 -13 -85 -20 -41 -7 -79 -16 -85 -20 -5 -5
-32 -11 -60 -15 -27 -4 -54 -11 -60 -15 -5 -4 -44 -13 -85 -20 -41 -7 -79 -16
-85 -20 -5 -5 -30 -10 -55 -12 -38 -3 -45 0 -48 17 -3 11 -8 22 -12 25 -4 3
-10 14 -14 26 -6 20 -1 22 71 34 43 6 83 16 88 20 6 4 35 11 65 15 30 4 60 11
65 15 6 4 46 13 90 20 44 6 85 16 90 20 6 4 35 11 65 15 30 4 60 10 65 14 6 3
37 11 70 16 l60 10 3 -38 c2 -29 -2 -42 -15 -52z m47 -134 l0 -49 -72 -12
c-40 -7 -79 -16 -88 -21 -8 -4 -48 -13 -87 -19 -40 -7 -75 -15 -78 -20 -3 -4
-32 -11 -65 -15 -33 -4 -60 -10 -60 -14 0 -4 -35 -13 -77 -20 -43 -7 -85 -16
-93 -21 -8 -4 -30 -10 -47 -13 -25 -5 -33 -3 -33 8 0 7 -6 20 -13 27 -7 7 -16
23 -19 35 -6 23 -3 25 87 38 22 4 49 10 60 15 19 8 104 26 235 51 30 6 64 14
75 19 11 5 54 14 95 21 41 6 80 15 85 19 9 7 33 13 83 19 8 1 12 -15 12 -48z" />
            <path d="M3468 4568 c-27 -6 -48 -14 -48 -18 0 -4 -11 -11 -26 -14 -23 -6
-134 -105 -134 -120 0 -3 -9 -25 -19 -49 -29 -61 -54 -222 -40 -249 10 -19 18
-20 136 -16 77 2 127 8 131 15 4 6 19 14 34 18 24 6 77 52 118 101 24 30 21
209 -5 260 -11 21 -23 41 -26 44 -3 3 -8 13 -12 23 -7 19 -34 20 -109 5z" />
            <path d="M9780 4560 c-36 -5 -188 -12 -339 -16 l-274 -7 -34 -30 c-31 -27 -34
-34 -31 -76 3 -43 5 -46 33 -48 67 -6 206 -26 304 -45 210 -40 371 -14 425 70
44 66 43 164 -1 161 -10 -1 -47 -5 -83 -9z" />
            <path d="M7436 4223 c-3 -10 -8 -65 -11 -123 -10 -159 -42 -438 -69 -595 -14
-77 -36 -205 -50 -285 -13 -80 -28 -173 -31 -206 -6 -56 -12 -67 -55 -116 -63
-71 -145 -126 -190 -129 -83 -5 -90 -2 -113 49 -18 40 -21 65 -20 172 1 140
17 256 69 475 109 460 100 590 -47 669 -33 19 -67 29 -100 30 -95 2 -128 -61
-179 -340 -107 -578 -271 -980 -435 -1068 -28 -16 -43 -18 -72 -10 -122 30
-135 265 -39 694 85 383 96 514 51 607 -15 30 -35 57 -44 61 -9 3 -32 18 -51
33 -62 48 -145 63 -186 35 -31 -22 -50 -83 -78 -251 -76 -453 -101 -897 -63
-1088 30 -146 88 -240 166 -266 46 -15 165 -14 227 3 93 25 213 124 304 251
19 27 58 94 86 149 l52 100 6 -100 c13 -191 38 -279 98 -335 50 -47 87 -59
185 -59 80 0 95 3 159 34 86 41 177 103 224 152 l35 36 9 -33 c19 -77 43 -124
79 -153 32 -26 46 -30 92 -30 54 1 102 22 110 47 47 157 174 508 225 624 12
26 25 57 30 68 95 220 250 497 324 577 52 58 129 87 142 53 5 -13 -21 -59 -56
-96 -101 -107 -160 -258 -144 -366 17 -117 96 -214 204 -250 121 -40 213 -38
362 8 37 11 82 30 100 43 l33 22 1 -136 c0 -138 13 -209 53 -302 26 -61 98
-151 153 -193 59 -44 176 -91 248 -100 104 -12 298 36 388 96 24 16 47 29 51
29 22 0 192 182 234 251 46 75 49 77 112 98 197 64 384 230 484 428 27 55 28
118 2 133 -29 15 -44 5 -70 -51 -82 -171 -240 -336 -372 -386 l-56 -21 17 56
c49 157 66 445 35 565 -31 121 -84 189 -175 228 -163 70 -339 -7 -465 -201
-55 -85 -72 -131 -86 -233 -28 -191 50 -370 205 -469 49 -32 164 -78 195 -78
9 0 22 -4 30 -9 12 -8 8 -20 -23 -66 -56 -85 -85 -113 -152 -151 -54 -30 -69
-34 -133 -34 -46 0 -85 6 -106 16 -149 70 -213 240 -202 529 12 295 92 525
232 670 65 67 85 75 184 75 70 0 161 39 161 68 0 38 -27 47 -152 51 -129 3
-184 -6 -261 -45 -27 -13 -53 -24 -59 -24 -5 0 -29 -13 -53 -30 -24 -16 -47
-30 -52 -30 -10 0 -148 -132 -175 -167 -9 -12 -22 -32 -29 -45 -6 -13 -15 -25
-19 -28 -23 -16 -99 -214 -120 -312 -10 -47 -16 -56 -58 -84 -94 -63 -220 -84
-282 -47 -35 21 -55 77 -45 130 12 67 84 186 168 277 43 47 112 156 126 199
48 147 -31 247 -195 247 -88 0 -222 -38 -282 -80 -23 -17 -47 -30 -51 -30 -21
0 -191 -183 -243 -261 -75 -113 -178 -310 -238 -456 -27 -65 -50 -111 -50
-102 0 9 25 106 56 215 110 392 122 479 80 562 -38 72 -65 98 -139 137 -59 30
-78 35 -137 35 -57 0 -70 -3 -74 -17z m2377 -333 c54 -47 69 -108 75 -297 4
-156 -8 -276 -36 -378 -12 -40 -42 -36 -97 13 -96 86 -147 211 -149 367 -1
143 31 245 94 299 41 34 71 33 113 -4z" />
          </g>
        </svg></span></p>

</div>

</body>

</html>
