<!DOCTYPE html>
<html>
  <head>
    <title>Guro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/meta_header' %>
  </head>

  <body id="page-top">
    <div id="wrapper">

      <%= render 'components/sidebar' %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render 'components/navbar' %>
          
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </body>

  <%= render 'layouts/meta_footer' %>

  <script>
    <% if notice %> toastr.success('<%= notice %>', 'Hooray!', { closeButton: true, progressBar: true, positionClass: 'toast-top-center'}) <% end %>
    <% if alert %> toastr.error('<%= alert %>', 'Oh no!' { closeButton: true, progressBar: true, positionClass: 'toast-top-center'}) <% end %>
  </script>

</html>
