<!DOCTYPE html>
<html>
  <head>
    <title>Guro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/meta_header' %>
  </head>

  <body id="page-top">
    <div id="wrapper">

      <%= render 'components/sidebar' %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render 'components/navbar' %>

          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
          
          <%= yield %>
        </div>
      </div>

    </div>
  </body>
  <%= render 'layouts/meta_footer' %>
</html>
