<!DOCTYPE html>
<html>
  <head>
    <title>Guro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/meta_header' %>
  </head>

  <body>

    <h1>you are using the LANDING layout!</h1>
    
    <%= yield %>

  </body>

  <script>
    <% if notice %> toastr.success('<%= notice %>', 'Hooray!', { closeButton: true, progressBar: true, positionClass: 'toast-top-center'}) <% end %>
    <% if alert %> toastr.error('<%= alert %>', 'Oh no!', { closeButton: true, progressBar: true, positionClass: 'toast-top-center'}) <% end %>
  </script>
  
</html>
